In [ ]:
import pandas as pd

pd.Series([3]) + pd.Series([5])

0    8
dtype: int64